<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main class="contact">
        <h1 class="contact-page-title">Contact Us: </h1>
        <form class="contact-form" action="/contact" method="POST">
            <% if (error_msg) { %>
                <div class="alert-error"><%= error_msg %></div>
            <% } %>
            <% if (success_msg) { %>
                <div class="alert-success"><%= success_msg %></div>
            <% } %>
            <label for="contact-title">Title:</label>
            <br>
            <input id="contact-title" name="message_title" type="text" required>
            <br>
            
            <label for="contact-email">Email:</label>
            <br>
            <input id="contact-email" name="return_email" type="email" required>
            <br>
            
            <label for="contact-msg">Message:</label>
            <br>
            <textarea id="contact-msg" name="message" required></textarea>
            <br><br>
            
            <button type="submit">Submit</button>
        </form>
    </main>
<%- include('partials/footer') %>