<%- include('partials/head') %>
<body>
    <%- include('partials/header') %> 
    <h2 class="dashboard-title">Dashboard - View Messages</h2>
    <div class="dashboard-return">
        <a href="/profile">Return to Profile</a>
    </div>
    <main class="msg">
    <% if (messages.length === 0) { %>
      <p>No messages have been submitted yet.</p>
    <% } else { %>
      <% messages.forEach(msg => { %>
        <section class="msg-container">
          <h3 class="msg-title"><%= msg.message_title %></h3>
          <p class="msg-email"><%= msg.return_email %></p>
          <br>
          <p class="msg-paragraph"><%= msg.message %></p>
        </section>
      <% }) %>
    <% } %>
  </main>
<%- include('partials/footer') %>